.tab {
    display: inline-block;
    margin-left: 4em;
}

h2{
    position: relative;
    margin-left: auto;
}

h1{
    text-align: center;
    margin-left: auto;
}

div{
    margin-left: 10px;
}

ul{
    list-style-type: square;
}

.subTitle{
    font-size: large;
}

.left{
    float: left;
}

.right{
    float: right;
}